/* Fonts */

@font-face {
    font-family: 'Roboto-lighter';
    src: url(../fonts/Roboto-Light.ttf) format('truetype');
}

@font-face {
    font-family: 'Roboto-bolder';
    src: url(../fonts/Roboto-Black.ttf) format('truetype');
}

@font-face {
    font-family: 'Roboto-bold';
    src: url(../fonts/Roboto-Bold.ttf) format('truetype');
}

@font-face {
    font-family: 'Roboto';
    src: url(../fonts/Roboto-Regular.ttf) format('truetype');
}

html,
body {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    color: #1F2937;
    margin: 0;
    padding: 0;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

/* Utilities */

.container {
    width: 90%;
    max-width: 1320px;
    margin-left: auto;
    margin-right: auto;
}

.container-md {
    width: 90%;
    max-width: 1140px;
    margin-left: auto;
    margin-right: auto;
}

.container-sm {
    width: 90%;
    max-width: 720px;
    margin-left: auto;
    margin-right: auto;
}

.row {
    display: flex;
}

.bg-dark {
    background-color: #1F2937;
}

.bg-light {
    background-color: #E5E7EB;
}

.bg-primary {
    background-color: #3882F6;
}

.txt-extra-light-color {
    color: #F9FAF8;
}

.txt-light-color {
    color: #E5E7EB;
}

.my-btn {
    background-color: #3882F6;
    color: #F9FAF8;
    padding: 10px 30px;
    border-radius: 10px;
    text-decoration: none;
    font-family: 'Roboto-Bold';
}

.my-btn:hover,
.my-btn-outline:hover {
    background-color: #5396FF;
}

.my-btn-outline {
    background-color: transparent;
    padding: 10px 30px;
    border-radius: 10px;
    text-decoration: none;
    font-family: 'Roboto-Bold';
    color: #F9FAF8;
    border: 2px solid #F9FAF8;
}

.txt-center {
    text-align: center;
}

.txt-light {
    font-family: 'Roboto-lighter', sans-serif;
    font-weight: 200;
}

h2 {
    font-size: 36px;
    font-family: 'Roboto-bolder', sans-serif;
}

p,
figcaption,
.nav-links li a {
    font-size: 18px;
}

.paragraph-lg {
    font-size: 20px;
    line-height: 1.5;
}

/* Navbar */

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar-brand {
    font-size: 24px;
}

.nav-links {
    list-style: none;
}

a.navbar-brand,
.nav-links li a {
    text-decoration: none;
}

a.navbar-brand:hover,
.nav-links li a:hover,
a.navbar-brand:focus,
.nav-links li a:focus,
.nav-links li a.active:visited {
    color: #CECECE;
}

.nav-links li {
    display: inline-block;
    padding: 0 10px;
}

/* Hero Section */

.hero-title {
    font-size: 48px;
    font-family: 'Roboto-bolder', sans-serif;
    margin: 0;
}

#hero-box {
    height: 600px;
    display: flex;
}

.hero-items {
    display: flex;
    flex-direction: column;
    width: 50%;
    align-items: start;
    justify-content: center;
}

.hero-img {
    width: 600px;
    height: auto;
    margin-left: auto;
    margin-top: 10px;
    margin-bottom: 10px;
}

/* Information section */

#info-box {
    height: 550px;
    display: flex;
}

.info-wrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;  
}

.images-container {
    display: flex;
    justify-content: space-around;
    align-items: center;  
    margin-bottom: 50px;
}

.info-img {
    width: 200px;
    min-height: auto;
    border-radius: 15px;
    margin-bottom: 10px;
    border: 5px solid #3882F6;
}

/* Quote section */

#quote-box {
    display: flex;
    flex-direction: column;
    height: 400px;
    justify-content: center;
    padding: 0 30px;
}

#quote-box h3 {
    font-size: 36px;;
}

#quote-box p {
    text-align: right;
    padding-right: 20px;
}

/* Sign up section */

#sign-up {
    display: flex;
    height: 350px;
    justify-content: center;
    align-items: center;
}

.sign-up-box {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
    max-width: 1320px;
    height: 150px;
    background-color: #3882F6;
    border-radius: 10px;
    padding: 0 30px;
}

#sign-up .sign-up-box h3 {
    font-size: 23px;
    margin: 0;
}

#sign-up .sign-up-box p {
    margin: 0;
}

#sign-up .container-md {
    display: flex;
    justify-content: space-between;
    padding: 0 30px;
}

.item-col-start {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start; 
}

.item-col-end {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: end;
}

/* Banner */

#banner_membership {
    background: url("../images/banner-002.jpg") no-repeat center center fixed;
    height: 350px;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    opacity: 0.9;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow-x: hidden;
    overflow-y: hidden;

    position: relative;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

#banner_our-gym {
    background: url("../images/banner-001.jpg") no-repeat center center fixed;
    height: 350px;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    opacity: 0.9;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow-x: hidden;
    overflow-y: hidden;

    position: relative;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.jumbotron {
    background-color: rgba(10, 99, 233, 0.6);
    width: 300px;
    padding: 20px;
    border-radius: 10px;
}

/* Our Gym Page */

.box-sm {
    min-height: 650px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px 0;
}

.about-img {
    width: 450px;
    height: auto;
    border-radius: 15px;
    margin-bottom: 20px;
    border: 5px solid #3882F6;
}

/* Footer */

footer {
    height: 100px;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
}