/* Fonts */

@font-face {
    font-family: 'Roboto-lighter';
    src: url(../fonts/Roboto-Light.ttf) format('truetype');
}

@font-face {
    font-family: 'Roboto-bolder';
    src: url(../fonts/Roboto-Black.ttf) format('truetype');
}

@font-face {
    font-family: 'Roboto-bold';
    src: url(../fonts/Roboto-Bold.ttf) format('truetype');
}

@font-face {
    font-family: 'Roboto';
    src: url(../fonts/Roboto-Regular.ttf) format('truetype');
}

html,
body {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    color: #1F2937;
    margin: 0;
    padding: 0;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

/* Utilities */

.container {
    width: 90%;
    max-width: 1320px;
    margin-left: auto;
    margin-right: auto;
}

.container-sm {
    width: 90%;
    max-width: 1140px;
    margin-left: auto;
    margin-right: auto;
}

.row {
    display: flex;
}

.bg-dark {
    background-color: #1F2937;
}

.bg-light {
    background-color: #E5E7EB;
}

.bg-primary {
    background-color: #3882F6;
}

.my-btn {
    background-color: #3882F6;
    padding: 10px 30px;
    border-radius: 10px;
    text-decoration: none;
    font-family: 'Roboto-Bold';
}

.my-btn:hover {
    background-color: #5396FF;
}

.txt-center {
    text-align: center;
}

h2 {
    font-size: 36px;
    font-family: 'Roboto-bolder', sans-serif;
}

p,
figcaption {
    font-size: 18px;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar-brand {
    font-size: 24px;
}

.my-btn,
a.navbar-brand,
h1.hero-title {
    color: #F9FAF8;
}

.nav-links {
    list-style: none;
}

a.navbar-brand,
.nav-links li a {
    text-decoration: none;
}

.nav-links li a,
p.hero-secondary-text {
    color: #E5E7EB;
}

a.navbar-brand:hover,
.nav-links li a:hover,
a.navbar-brand:focus,
.nav-links li a:focus,
.nav-links li a.active:visited {
    color: #CECECE;
}

.nav-links li {
    display: inline-block;
    padding: 0 10px;
}

/* Hero Section */

.hero-title {
    font-size: 48px;
    font-family: 'Roboto-bolder', sans-serif;
    margin: 0;
}

#hero-box {
    height: 600px;
    display: flex;
}

.hero-items {
    display: flex;
    flex-direction: column;
    width: 50%;
    align-items: start;
    justify-content: center;
}

.hero-img {
    width: 600px;
    height: auto;
    margin-left: auto;
    margin-top: 10px;
    margin-bottom: 10px;
}

/* Information section */

#info-box {
    height: 550px;
    display: flex;
}

.info-wrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;  
}

.images-container {
    display: flex;
    justify-content: space-around;
    align-items: center;  
    margin-bottom: 50px;
}

.info-img {
    width: 200px;
    min-height: auto;
    border-radius: 15px;
    margin-bottom: 10px;
    border: 5px solid #3882F6;
}